<a href="https://colab.research.google.com/github/JulianaAiolfi/Desafio_TERA/blob/main/Analise_Expolatoria/Notebook/Analise_Exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

In [56]:
url = 'https://raw.githubusercontent.com/JulianaAiolfi/Desafio_TERA/main/Analise_Expolatoria/Dados/dataset1.csv'
dados = pd.read_csv(url, encoding='latin-1')

In [58]:
dados.head()

,Id,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,NaN,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,NaN,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52
3,4,Wii Sports Resort,NaN,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,"1,0",31.37